<h2>Chat Room</h1>

<div class="row">
    <form class="col s12">
        <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">本文</label>
        </div>
        </div>
    </form>
    <a class="waves-effect waves-light btn chat_button">投稿</a>
</div>

<div class="messages">
    <% @messages.each do |message| %>
        <P><%= message.content %></p>
    <% end %>
</div>

